SUPABASE_DB_URL=jdbc:postgresql://db.sxlqgzkkqeqbdqkrfoip.supabase.co:5432/postgres?user=postgres&password=ModularActivity213
SUPABASE_DB_USERNAME=postgres
SUPABASE_DB_PASSWORD=ModularActivity213
CORS_ALLOWED_ORIGIN=http://localhost:5173
